

<%# use same way in main.rb to make a request  %>
<%# this form to generate the link url http://localhost:4567/quote?stock_name=msft %>
<form action="/quote" method="get">
<input type="text" name="stock_name"><button>quote</button></form>